
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎页</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="alert alert-success">
        欢迎登陆同歌教育后台管理系统！
    </div>
</body>
</html>
